{% extends '::default.html.twig' %}
{% block content %}
<div class="span4 userform">
    <h1>Account activation error</h1>
        <div class="alert alert-error">
    Your activation link is broken or user is already activated!
    </div>

</div>
{% endblock %}