{% extends '::default.html.twig' %}
{% block content %}
<div class="span4 userform">
    <h1>Sign up</h1>
    <form novalidate action="{{ path('register') }}" method="post">
        {{ form_widget(form) }}
        <div class="form-actions">
            <button class="btn btn-primary" name="login" type="submit">Sign up</button>
            <span>Or <a href="{{ path('login') }}">sign in</a></span>
        </div>
    </form>
</div>
{% endblock %}